$gutter: 1rem;
$input-min-width: 10rem;
$background-haze: rgba(0, 0, 0, 0.5);
$brand-primary: #c2185b;
$card-background: #fdfdfd;
$card-text-color: #8e8e8e;
$brand-light-grey: lighten($card-text-color, 20%);
$label-color: #0f0;
$brand-border: 0.1rem solid $card-text-color;
$brand-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
