$gutter: 2rem;
$input-min-width: 10rem;
$background-haze: rgba(0, 0, 0, 0.8);
$brand-primary: #fff;
$card-background: #0040ff;
$card-text-color: #f00;
$label-color: #0f0;
$brand-border: 0.2rem solid #dcd;
$brand-shadow: 0.2rem 0.2rem #ff0;
