// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'variables';
@import 'box-sizing';
@import 'base';

.modal-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: $gutter;

  background: $background-haze;

}

.card {
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
  background: $card-background;
  box-shadow: $brand-shadow;
}

.card-title {
  color: $card-text-color;
  font-weight: bold;
}

.item {
  margin: auto;
}

.card-fields {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10rem;
}

.field-input {
  display: flex;
  min-width: $input-min-width;
  margin: auto;
  border-bottom: $brand-border;
  color: $card-text-color;
  font-size: 1.2rem;
}


.field-label {
  margin: auto;
  padding: 1rem;
  color: $label-color;
  font-size: 13px;
}


.card-actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 1rem;
  padding: 0.5rem;
  border-top: 1px $brand-primary solid;

}

.form-button {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.2rem;
  background: $brand-primary;
  color: $card-background;
  font-size: 12px;
}
