// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'variables';
@import 'box-sizing';
@import 'base';

.modal-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: $gutter;

  background: $background-haze;

}

.card {
  display: flex;
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
  background: $card-background;
  box-shadow: $brand-shadow;
}

.card-title {
  color: $card-text-color;
  font-weight: bold;
}

.card-fields {
  position: relative;
  padding: 1rem;
}

.field-input {
  display: flex;
  min-width: $input-min-width;
  border-bottom: $brand-border;
  color: $card-text-color;
  font-size: 1.2rem;
}


.field-label {
  color: $label-color;
  font-size: 12px;
}


.card-actions {
  display: flex;
  align-items: flex-end;
}

.form-button {
  border-radius: 0.2rem;
}
